<div
  class="modal fade"
  id="signupmodal"
  tabindex="-1"
  aria-labelledby="signupmodal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="signupmodal">Cadastro</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="px-5 py-3 position-relative"
          [formGroup]="signup"
          (submit)="userSignUp()"
          *ngIf="signup"
        >
          <app-input-forms
            [props]="inputs.inputNumber"
            [formGroup]="signup"
            [isSubmit]="isSubmit"
          ></app-input-forms>
          <app-input-forms
            [props]="inputs.inputName"
            [formGroup]="signup"
            [isSubmit]="isSubmit"
          ></app-input-forms>
          <app-input-forms
            [props]="inputs.inputEmail"
            [formGroup]="signup"
            [isSubmit]="isSubmit"
          ></app-input-forms>
          <app-input-forms
            [props]="inputs.inputPassword"
            [formGroup]="signup"
            [isSubmit]="isSubmit"
          ></app-input-forms>
          <app-input-forms
            [props]="inputs.inputConfirmPassword"
            [formGroup]="signup"
            [isSubmit]="isSubmit"
          ></app-input-forms>

          <div>
            <label class="form-label" for="select-signup">Cargo</label>
            <select
              class="form-select form-select-sm w-16"
              aria-label=".form-select-sm example"
              name="role"
              id="select-signup"
              formControlName="role"
            >
              <option selected value="student">Estudante</option>
              <option *ngIf="userRole === 'admin'" value="teacher">
                Professor
              </option>
              <option *ngIf="userRole === 'admin'" value="admin">
                Administrador
              </option>
            </select>
          </div>
          <button class="btn btn-primary my-3" type="submit">Cadastrar</button>
        </form>
      </div>

  </div>
</div>
