.logo-recife {
  width: 267px;
  height: 81px;
  background-image: url("https://statics.recife.pe.gov.br/images/dynamics/logo_gestao_pcr_alt_horizontal.png?w=267");
}

@media (max-width: 992px) {
  .buttons-header {
    margin-top: 2rem;
  }
  .container-fluid {
    justify-content: end;
  }
}

@media (max-width: 770px) {
  .logo-recife {
    width: 81px;
    height: 81px;
    background-size: contain;
    background-image: url("https://farm66.staticflickr.com/65535/buddyicons/92125987@N06_r.jpg?1618332411");
  }
}
@media (max-width: 540px) {
  .nav-header {
    flex-direction: column;
  }
  nav > .container-fluid {
    display: block;
  }

  #navbarSupportedContent {
    justify-content: normal !important;
  }
}
