<div class="container my-5" *ngIf="teachers && _definePermission('visible')">
  <h2>Professores</h2>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col" width="130">
          <div class="d-flex flex-row justify-content-start align-items-center">
            <span style="margin-right: 6px">Matrícula</span>
            <i
              (click)="handleSort(false, 'number')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'number')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="350">
          <div class="d-flex flex-row">
            <span style="margin-right: 6px">Nome</span>
            <i
              (click)="handleSort(false, 'name')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'name')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="350">
          <div class="d-flex flex-row">
            <span style="margin-right: 6px">Email</span>
            <i
              (click)="handleSort(false, 'email')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'email')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="125">
          <div class="d-flex flex-row">
            <span style="margin-right: 6px">Cargo</span>
            <i
              (click)="handleSort(false, 'role')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'role')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="75" *ngIf="_definePermission('edit')">
          <span style="margin-right: 6px">Ações</span>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let teacher of teachers">
      <tr>
        <td>{{ teacher.number }}</td>
        <td>{{ teacher.name }}</td>
        <td>{{ teacher.email }}</td>
        <td>professor</td>
        <td *ngIf="_definePermission('edit')">
          <i
            class="bi bi-pencil icon"
            role="button"
            (click)="handleEdit(teacher.email)"
            data-bs-toggle="modal"
            data-bs-target="#edit-teacher"
          ></i>

          <i
            class="bi bi-trash ms-3 icon"
            (click)="handleDeleteUser(teacher.email)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-edit-user
  [email]="email"
  [users]="teachers"
  [modal]="modal"
></app-edit-user>
