<div class="container" *ngIf="students && students.length > 0">
  <h2>Estudantes</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col" width="130">
          <div class="d-flex flex-row justify-content-start align-items-center">
            <span style="margin-right: 6px">Matrícula</span>
            <i
              (click)="handleSort(false, 'number')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'number')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="350">
          <div class="d-flex flex-row">
            <span style="margin-right: 6px">Nome</span>
            <i
              (click)="handleSort(false, 'name')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'name')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="350">
          <div class="d-flex flex-row">
            <span style="margin-right: 6px">Email</span>
            <i
              (click)="handleSort(false, 'email')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'email')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="125">
          <div class="d-flex flex-row">
            <span style="margin-right: 6px">Cargo</span>
            <i
              (click)="handleSort(false, 'role')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'role')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="75">
          <span style="margin-right: 6px">Ações</span>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let student of students">
      <tr *ngIf="_definePermission('visible')">
        <td>{{ student.number }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>estudante</td>
        <td>
          <i
            class="bi bi-pencil icon"
            *ngIf="_definePermission('edit')"
            data-bs-toggle="modal"
            (click)="handleEdit(student.email)"
            data-bs-target="#edit-student"
          ></i>

          <i
            class="bi bi-trash ms-3 icon"
            (click)="handleDeleteUser(student.email)"
            *ngIf="_definePermission('delete')"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-edit-user
  [email]="email"
  [users]="students"
  [modal]="modal"
></app-edit-user>
