<div
  class="container"
  *ngIf="admins && _definePermission('visible')"
>
  <h2>Coordenadores</h2>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col" width="130">
          <div class="d-flex flex-row justify-content-start align-items-center">
            <span style="margin-right: 6px">Matrícula</span>
            <i
              (click)="handleSort(false, 'number')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'number')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="350">
          <div class="d-flex flex-row">
            <span style="margin-right: 6px">Nome</span>
            <i
              (click)="handleSort(false, 'name')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'name')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="350">
          <div class="d-flex flex-row">
            <span style="margin-right: 6px">Email</span>
            <i
              (click)="handleSort(false, 'email')"
              class="bi bi-arrow-bar-up"
            ></i>
            <i
              (click)="handleSort(true, 'email')"
              class="bi bi-arrow-bar-down"
            ></i>
          </div>
        </th>
        <th scope="col" class="" width="75">
          <span style="margin-right: 6px">Ações</span>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let admin of admins">
      <tr>
        <td>{{ admin.number }}</td>
        <td>{{ admin.name }}</td>
        <td>{{ admin.email }}</td>
        <td>coordenador</td>
      </tr>
    </tbody>
  </table>
</div>
