<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Matrícula</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Cargo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users">
    <tr *ngIf="_definePermission(user.role, 'visible', inUserRole)">
      <td>{{ user.number }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ formatingRole(user.role) }}</td>
      <td>
        <button
          *ngIf="_definePermission(user.role, 'edit', inUserRole)"
          (click)="handleEdit(user.email)"
        >
          Editar
        </button>
        <button
          (click)="handleDeleteUser(user.email, user.role)"
          *ngIf="_definePermission(user.role, 'delete', inUserRole)"
        >
          Deletar
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-filter (filteredUsers)="onUsersFiltered($event)"></app-filter>
<button (click)="logoutUser()">SAIR</button>
