<table class="table table-bordered table-hover container">
  <thead>
    <tr>
      <th scope="col" width="130">
        <div class="d-flex flex-row justify-content-start align-items-center">
          <span style="margin-right: 6px">Matrícula</span>
          <i
            (click)="handleSort(false, 'number')"
            class="bi bi-arrow-bar-up"
          ></i>
          <i
            (click)="handleSort(true, 'number')"
            class="bi bi-arrow-bar-down"
          ></i>
        </div>
      </th>
      <th scope="col" class="" width="350">
        <div class="d-flex flex-row">
          <span style="margin-right: 6px">Nome</span>
          <i (click)="handleSort(false, 'name')" class="bi bi-arrow-bar-up"></i>
          <i
            (click)="handleSort(true, 'name')"
            class="bi bi-arrow-bar-down"
          ></i>
        </div>
      </th>
      <th scope="col" class="" width="350">
        <div class="d-flex flex-row">
          <span style="margin-right: 6px">Email</span>
          <i
            (click)="handleSort(false, 'email')"
            class="bi bi-arrow-bar-up"
          ></i>
          <i
            (click)="handleSort(true, 'email')"
            class="bi bi-arrow-bar-down"
          ></i>
        </div>
      </th>
      <th scope="col" class="" width="125">
        <div class="d-flex flex-row">
          <span style="margin-right: 6px">Cargo</span>
          <i (click)="handleSort(false, 'role')" class="bi bi-arrow-bar-up"></i>
          <i
            (click)="handleSort(true, 'role')"
            class="bi bi-arrow-bar-down"
          ></i>
        </div>
      </th>
      <th scope="col" class="" width="75">
        <span style="margin-right: 6px">Ações</span>
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users">
    <tr *ngIf="_definePermission(user.role, 'visible', inUserRole)">
      <td>{{ user.number }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ formatingRole(user.role) }}</td>
      <td>
        <i
          class="bi bi-pencil icon"
          *ngIf="_definePermission(user.role, 'edit', inUserRole)"
          data-bs-toggle="modal"
          data-bs-target="#signinmodal"
        ></i>

        <i
          class="bi bi-trash ms-3 icon"
          (click)="handleDeleteUser(user.email, user.role)"
          *ngIf="_definePermission(user.role, 'delete', inUserRole)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
<app-edit-user></app-edit-user>
